@media only screen and (max-width: ){
    body{
        background-color: black;
        color: white;
        height: 1500px;
        width: 1000px;
        margin-left: 0px;
    }
    #corpo{
        background-color: white;
        height: 1550px;
        width: 1349px;
    }
    #topo{
        height: 40px;
    }
    button{
        background-color: #1a1a1a;
        color: white;
        border-radius: 25px;
    }
    nav{
        align-items: auto;
    }
    header{
        align-content: left;
        text-align: center;
    }
    img{
        width: 300px;
        height: 500px;
    }
}