@media only screen and (max-width: 1570px) and (min-width: 769px){
    #siteName{
        font-style: italic;
    }
    body{
        background-color: black;
        color: white;
        height: 1500px;
        width: 1000px;
        margin-left: 0px;
    }
    #corpo{
        background-color: white;
        height: 1550px;
        width: 1349px;

    }
    #barraBusca{
        height: 40px;
        width: 600px;
        margin-bottom: 5px;
        margin-top: -400px;
    }
    button{
        background-color: #1a1a1a;
        color: white;
        border-radius: 25px;
    }
    #lupa{
        width: 40px;
        height: 40px;
    }
    #square{
        margin-top: 60px;
        margin-bottom: -70px;
        border-radius: 0px;
        padding: 1px;
    }
    nav{
        text-align: left;
        margin-top: -150px;
        margin-bottom: 30px;
        margin-left: 200px;
    }
    header{
        text-align: left;
    }
    img{
        padding: 10px;
        margin-left: 1px;
        margin-right: 1px;
        margin-top: 2px;
        border:3px solid black;
        width: 150px;
        height: 250px;
    }
    
}