@media only screen and (max-width: 1570px) and (min-width: 769px){
    #siteName{
        font-style: italic;
        margin-left: 100px;
        margin-right: 50px;
    }
    body{
        background-color: black;
        color: white;
        height: 1500px;
        width: 1000px;
        margin-left: 0px;
    }
    #corpo{
        background-color: white;
        height: 1550px;
        width: 135%;

    }
    #barraBusca{
        height: 20px;
        width: 600px;
        margin-bottom: 5px;
        margin-top: -400px;
        margin-left: 30px;
    }
    button{
        background-color: #1a1a1a;
        color: white;
        border-radius: 25px;
        margin-top: 10px;
        height: 20px;
        width: 60px;
    }
    #lupa{
        width: 20px;
        height: 20px;
    }
    #square{
        margin-top: 100px;
        margin-bottom: -70px;
        border-radius: 0px;
        padding: 1px;
        height: 30px;
        width: 60px;
    }
    nav{
        text-align:center;
        margin-top: -150px;
        margin-bottom: 30px;
        margin-left: 200px;
    }
    header{
        text-align: left;
    }
    img{
        padding: 10px;
        margin-left: 1px;
        margin-right: 1px;
        margin-top: 2px;
        border:3px solid black;
        width: 150px;
        height: 250px;
    }
    #plus{
        border-radius: 100px;
        width: 70px;
        height: 70px;
        background-color: black;
        left: auto;
        right: 30px;
        bottom: 68px;
        position: fixed;

    }
    footer{
        text-align: right;
    }
    
}
@media only screen and (max-width: 768px){
    #siteName{
        font-style: italic;
        margin-left: 50px;
        margin-right: 10px;
    }
    body{
        background-color: black;
        color: white;
        height: 1000px;
        width: 100%;
        margin-left: 0px;
    }
    #corpo{
        background-color: white;
        height: 200%;
        width: 100%;

    }
    #barraBusca{
        height: 40px;
        width: 60%;
        margin-bottom: 5px;
        margin-top: -40px;
        margin-left: 3px;
        border-radius: 25px;
    }
    button{
        column-width: 100px;
        background-color: #1a1a1a;
        color: white;
        border-radius: 25px;
        margin-top: 10px;
        height: 40px;
        width: 70px;
    }
    #square{
        margin-top: 100px;
        margin-bottom: -70px;
        border-radius: 0px;
        padding: 1px;
        height: 40px;
        width: 70px;
        border-radius: 15px;
    }
    nav{
        text-align:center;
        margin-top: -150px;
        margin-bottom: 30px;
        margin-left: 200px;
    }
    header{
        text-align: left;
    }
    img{
        padding: 10px;
        margin-left: 1px;
        margin-right: 1px;
        margin-top: 2px;
        border:3px solid black;
        width: 290.2px;
        height:350px;
    }
    #plus{
        border-radius: 100px;
        width: 70px;
        height: 70px;
        background-color: black;
        left: auto;
        right: 30px;
        bottom: 70px;
        position: fixed;

    }
    footer{
        text-align: right;
    }
    
}